body {
  text-align: center;
}

h1 {
  color: #0328ee;
  font-size: 10rem;
  margin-bottom: 0px;
}

h2 {
  font-weight: 700;
  font-size: 2.8rem;
}

p {
  margin-bottom: 20px;
}

.download-btn,
.article-btn {
  display: inline-block;
}

@media (max-width: 968px) {
  .download-btn,
  .article-btn {
    display: block;
    margin-bottom: 14px;
  }

  .download-btn {
    width: 100%;
  }
}
