/* ============================================
   Main Content
   ============================================ */

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.page-header,
.featured-section {
  margin: 0 120px;
}

.featured-section {
  display: flex;
  margin-top: 30px;
  border-radius: 8px;
}

.featured-content {
  background-color: #010d50;
}
