/* ============================================
   Main Content - Contact Page
   ============================================ */

.hero-section {
  padding: 80px 8% 100px;
  display: flex;
  flex-direction: row;
}

h1 {
  padding: 0 8%;
}

.formSection form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group.full {
  grid-column: span 2;
}

#name,
#email,
#company,
#subject,
textarea {
  background-color: #010d50;
  border: none;
  border-radius: 50px;
  padding: 20px 28px;
  color: #ffffff;
  font-size: 1rem;
  font-family: "DM Sans", sans-serif;
  outline: none;
}

#name::placeholder,
#email::placeholder,
#company::placeholder,
#subject::placeholder,
form textarea::placeholder {
  color: white;
}

textarea {
  resize: none;
  height: 80px;
  border-radius: 10px;
}

.linkSection {
  width: 50%;
}
