/* ============================================
   Main Content - Contact Page
   ============================================ */

.hero-section {
  padding: 80px 8% 100px;
  display: flex;
  flex-direction: row;
}
