/* ============================================
   Main Content
   ============================================ */

.hero-section {
  text-align: center;
  padding: 80px 8% 60px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-section-hero {
  max-width: 800px;
  margin: 0 auto 60px;
}

.text-section-hero h1 {
  font-size: 3.4rem;
  margin-bottom: 20px;
}

.text-section-hero > p {
  line-height: 1.6;
  font-size: 1rem;
  color: #e6e8ff;
  margin-bottom: 60px;
}
