/* ============================================
   Main Content
   ============================================ */

.hero-section {
  text-align: center;
  padding: 0 8% 80px;
  justify-content: center;
}

.text-section-hero {
  max-width: 200px;
  margin: 0 auto;
}
