body {
  margin: 0;
  font-family: "DM sans", sans-serif;
  color: #ffffff;
  background-color: #010725;
}

/* Typography */

h1 {
  font-weight: 600;
  font-size: 3.4rem;
}

h2 {
  margin: 0 40px 0 15px;
}

h1,
h2,
p,
a,
button {
  position: relative;
  z-index: 2; /* ensures they stay above the circle */
}

.background-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: auto;
  z-index: 1; /* behind all content */
  pointer-events: none; /* makes sure it doesn't block clicks */
  opacity: 0.3;
}

.download-btn {
  background-color: #0328ee;
  padding: 15px 22px;
  border-radius: 50px;
  border: none;
  color: #ffffff;
  margin-right: 20px;
}

.download-btn:hover,
.download-btn:active {
  background-color: #031fb4;
}

.pricing-btn {
  background-color: #1a203b;
  padding: 15px 22px;
  border-radius: 50px;
  border: none;
  color: #ffffff;
}

.pricing-btn:hover,
.pricing-btn:active {
  background-color: #0328ee;
}

/* Header */
header {
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  background-color: #010725;
  margin-bottom: 0;
}

ul {
  list-style: none; /* remove bullet points */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-left: 15px;
  padding: 5px;
}

li a {
  text-decoration: none;
  font-weight: 600;
  color: #ffffff;
}

.title-border {
  border: 1px solid #010d50;
}

.header-links {
  border-left: 1px solid #010d50;
  display: flex;
  align-items: center;
  flex: 1;
}

.header-links ul {
  flex: 1;
  justify-content: flex-start;
}

.header-links .download-btn {
  margin-left: auto;
}

.logo {
  margin-left: 50px;
}

/* Main */

main {
  background-color: #010725;
  margin-top: 0;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 8%;
  gap: 10px;
  margin: 100px 0;
}

.text-section-hero {
  max-width: 500px;
}

.laptop {
  width: 650px;
  max-width: 100%;
  flex-shrink: 0; /* Stops the laptop from shrinking */
  margin-right: 0;
}

.laptop img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

/* Footer */
