body {
  margin: 0;
  font-family: "DM sans", sans-serif;
  color: #ffffff;
}

/* Typography */

h2 {
  margin: 0 40px 0 15px;
}

/* Header */
header {
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  border-bottom: 1px solid #eee; /* subtle bottom border */
  background-color: #010725;
  margin-bottom: 0;
}

ul {
  list-style: none; /* remove bullet points */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-left: 15px;
  padding: 5px;
}

li a {
  text-decoration: none;
  font-weight: 600;
  color: #ffffff;
}

.title-border {
  border: 1px solid #010d50;
}

.header-links {
  border-left: 1px solid #010d50;
}

.logo {
  margin-left: 50px;
}

/* Main */

main {
  background-color: #010725;
  margin-top: 0;
}

.hero-section {
}

/* Footer */
