body {
  margin: 0;
  font-family: "DM sans", sans-serif;
}

/* Typography */

/* Header */
header {
  display: flex;
  padding: 1rem 2rem;
}

ul {
  list-style: none; /* remove bullet points */
  display: flex;
  justify-content: center; /* or space-between / flex-end */
  align-items: center; /* vertically align items */
  gap: 2rem; /* spacing between items */
  margin: 0;
  padding: 0;
}

li a {
  text-decoration: none;
  color: #222;
  font-weight: 600;
}

/* Main */

/* Footer */
