body {
  margin: 0;
  font-family: "DM sans", sans-serif;
  background-color: grey;
}

/* Typography */

h1 {
  margin: 0 40px;
}

/* Header */
header {
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  border-bottom: 1px solid #eee; /* subtle bottom border */
}

ul {
  list-style: none; /* remove bullet points */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-left: 15px;
  padding: 5px;
}

li a {
  text-decoration: none;
  color: #222;
  font-weight: 600;
}

.title-border {
  border: 1px solid #010d50;
}

.header-links {
  border-left: 1px solid #010d50;
}

/* Main */

/* Footer */
